/* Leaderboard Container */
.leaderboard-container {
    margin: 20px auto;
    max-width: 1100px;
    border-radius: 12px;
    background-color: #ffffff;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
    padding: 1rem;
}

/* Leaderboard Title */
.leaderboard-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #333;
}

/* Table Styles */
.leaderboard-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 12px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgba(0.3, 0.3, 0.3, 0.3);
}

.leaderboard-table thead {
    background-color: #3a3a3a;
    color: #ffffff;
}

.leaderboard-table th,
.leaderboard-table td {
    padding: 0.75rem;
    text-align: center;
    font-size: 0.9rem;
}

.leaderboard-table td:nth-child(2) {
    text-align: left;
}

.leaderboard-table tbody tr:nth-child(even) {
    background-color: #f7f7f7; /* Alternate even row color */
}

.leaderboard-table tbody tr:nth-child(odd) {
    background-color: #eaeaea; /* Alternate odd row color */
}

.leaderboard-table tbody tr:hover {
    background-color: #e6f7ff;
    cursor: pointer;
}

/* Expandable Row Content */
.expanded-row {
    background-color: #ffffff;
}

.expanded-content {
    padding: 0.75rem;
    font-size: 0.85rem;
    color: #333;
    text-align: left;
    border-top: 1px solid #ddd;
}

.expanded-content p {
    margin: 0.25rem 0;
}

/* Loading and Error States */
.leaderboard-loading,
.leaderboard-error {
    text-align: center;
    font-size: 1.25rem;
    color: #555;
    margin: 1rem 0;
}

/* Media Queries */

/* Mobile (max-width: 600px) */
@media (max-width: 600px) {
    .leaderboard-container {
        padding: 1rem;
    }

    .leaderboard-table th:nth-child(4),
    .leaderboard-table td:nth-child(4),
    .leaderboard-table th:nth-child(5),
    .leaderboard-table td:nth-child(5),
    .leaderboard-table th:nth-child(6),
    .leaderboard-table td:nth-child(6){
        display: none;
    }

    /* Expandable row button */
    .leaderboard-table tbody tr {
        position: relative;
    }

    .leaderboard-table tbody tr:hover {
        background-color: #f0f8ff; /* Slightly different hover color for mobile */
    }

    .expanded-row td {
        padding: 0.5rem;
        background-color: white;
    }

    .expanded-content {
        font-size: 0.8rem;
        color: #555;
    }

    /* Table Headers */
    .leaderboard-table th,
    .leaderboard-table td {
        font-size: 0.8rem;
        padding: 0.5rem;
    }

    .bold-label {
        font-weight: bold;
      }
}

/* Desktop (min-width: 800px)
@media (min-width: 800px) {
    .leaderboard-table th,
    .leaderboard-table td {
        font-size: 1rem;
    }

    .leaderboard-container {
        padding: 1.5rem;
    }
} */
