/* App.css */
.App {
  text-align: center;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: transparent; /* Set a base color for the app background */
}

.App-header {
  position: relative;
  z-index: 10; /* Ensure the header is above the background */
}


.home-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 2rem;
  z-index: 5;
}

/* @keyframes floatUp {
  from {
    transform: translateY(100vh) scale(var(--scale));
    opacity: 0;
  }
  to {
    transform: translateY(-100vh) scale(var(--scale));
    opacity: 1;
  }
}

@keyframes fadeOutZoom {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}



.fade-out {
  animation: fadeOutZoom 1.5s forwards;
} */
